* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ! edit with it (main.js / darkButton.click lightButton.click) */
  --main-color-1: var(--main-color-1-a);
  --main-color-2: var(--main-color-2-a);
  --main-color-3: var(--main-color-3-a);
  --main-color-4: var(--main-color-4-a);
  --main-color-5: var(--main-color-5-a);

  /* ! The applied theme original colors */
  --main-color-1-a: rgb(244, 238, 255);
  --main-color-2-a: rgb(220, 214, 247);
  --main-color-3-a: rgb(166, 177, 225);
  --main-color-4-a: rgb(66, 72, 116);
  --main-color-5-a: rgb(37, 41, 66);

  /* ! The applied theme reversed colors */
  --main-color-1-b: var(--main-color-5-a);
  --main-color-2-b: var(--main-color-4-a);
  --main-color-3-b: var(--main-color-3-a);
  --main-color-4-b: var(--main-color-2-a);
  --main-color-5-b: var(--main-color-1-a);
}

::-webkit-scrollbar {
  width: 1rem; /*! related to border-radius of track, thumb  */
}

::-webkit-scrollbar-track {
  background: var(--main-color-2);
  box-shadow: inset 2px 2px 5px var(--main-color-3);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color-4);
  box-shadow: inset 1px 1px 5px var(--main-color-1);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-5);
}
::-webkit-scrollbar-corner {
  background: var(--main-color-1);
}

html {
  margin: 0px;
  height: 100%;
  max-width: 100%;
}

#container {
  height: 100vh;
  /* 
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  */
  display: grid;
  grid-template: 0.25fr 7fr 0.65fr / 1fr;
  margin: 0px;
  padding: 10px;
  background-color: var(--main-color-1);
  color: var(--main-color-5);
}
#header {
  /* display: grid;
  grid-template-columns: 5fr 1fr; */
  /* align-items: end; */
  /* position: relative; */
  /* gap: 2%; */
}

#search-input {
  width: calc(100vw - 30px);
  min-height: 5vh;
  border-radius: 1rem;
  font-size: large;
  padding: 0 15px 0 15px;
}

#log-in-sign-up-page { /* have media query */
  display: grid;
  width: 90%;
  /* height: 75%; */
  grid-template: 1fr 0.25fr / 1fr 1fr;
  grid-template-areas: "signUp logIn" "rules rules";
  gap: 2vh 10vw;
  justify-self: center;
  align-self: center;
}

#log-in-sign-up-page div{  /* have media query */
border: 1px var(--main-color-5) solid;
box-shadow: 0 0 1rem var(--main-color-5);
padding: 10%;
border-radius: 2rem;
}

#sign-up-div {
  grid-area: signUp;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#log-in-div {
  grid-area: logIn;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#log-in-rules {
  grid-area: rules;
  font-size:medium;
  justify-self:auto;
  align-self:auto;
}

#main-page {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.anime-div {
  border: 2px var(--main-color-3) solid;
  border-radius: 1rem;
  margin: 1%;
  width: 31%;
  display: grid;
  grid-template: repeat(4, 0.5fr) / 1fr 2fr;
  grid-template-areas: "Image Name" "Image Genre" "Image Studio" "Image Type";
  position: relative;
  box-shadow: 0 0 5px var(--main-color-5);
  background-color: var(--main-color-2);
}

.anime-img {
  max-width: 100%;
  align-self: center;
  grid-area: Image;
  /* padding: 5%; */
  border-radius: inherit;
  /* aspect-ratio: 3/4 ; */
}
.anime-bg {
  max-width: 300%;
  opacity: 0.1;
  height: 100%;
  align-self: center;
  grid-area: name;
  /* padding: 5%; */
  border-radius: inherit;
  /* aspect-ratio: 3/4 ; */
  position: absolute;
  right: 0;
}

.anime-name {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Name;
  overflow-wrap: break-word;
  color: var(--main-color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1rem;
  font-weight: bolder;
}

.anime-genre {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Genre;
  overflow-wrap: break-word;
  font-size: medium;
}

.anime-studio {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Studio;
  overflow-wrap: break-word;
  color: var(--main-color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: medium;

  font-weight: bold;
}

.anime-type {
  padding-left: 5%;
  padding-block: 5%;
  grid-area: Type;
  overflow-wrap: break-word;
  color: var(--main-color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: medium;
  font-weight: bold;
}

.anime-fav {
  position: absolute;
  bottom: 5%;
  right: 5%;
  /* z-index: 1;
  background: url(Media/User-image-default.jpg);
  border: 2px var(--main-color-5) solid */
}

.anime-rate {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: var(--main-color-4);
  background-color: var(--main-color-1);
  opacity: 0.85;
  padding: 1%;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 0 0 3px var(--main-color-5);
}

.anime-rate::first-letter {
  color: var(--main-color-5);
  font-size: x-large;
}

#user-page {
  display: none;
}

#user-image {
  margin: 2% 0 0 2%;
  height: 20vh;
  aspect-ratio: 1/1;
}

#user-fav-div {
  margin: 2%;

  font-size: x-large;
  height: 40vh;
}

#user-fav-ul {
  height: calc(40vh - 50px);
  overflow-y: scroll;
}

#user-fav-ul li::before {
  content: "- ";
}

li:nth-child(2n) {
  background-color: var(--main-color-2);
}
li::marker {
  color: var(--main-color-3);
}
/* li.added-to-fav-1 {
  color: red;
} */

#filter-page {
  display: grid;
  grid-template: 1fr 2fr / 1fr 1fr 1fr;
  margin: 5%;
  gap: 5vh;
  /* display: flex;
  flex-wrap: wrap;
  margin: 5%;
  gap: 5vh; */
}

/* #filter-page div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
} */

/* #filter-page button {
  width: 100%;
  height: 100%;
  max-height: 1000px;
  max-width: 1000px;
  font-size: xx-large;
} */

#anime-page {
  display: grid;
  grid-template: 30vh 15vh 15vh 15vh / 30vw 60vw;
  grid-template-areas:
    "animePageImage animePageDescription"
    "animePageImage animePageDescription"
    "animePageDetails animePageTrailer"
    "animePageDetails animePageTrailer";
  padding: 2%;
  gap: 2%;
}

#anime-page-image-div {
  grid-area: animePageImage;
  justify-self: center;
}
.anime-page-img {
  width: calc(100% - 15px);
  max-width: 300px;
  max-height: 100%;
}

#anime-page-details-div {
  grid-area: animePageDetails;
  justify-self: center;
  font-weight: bold;
  font-size: larger;
  overflow-y: scroll;
  width: calc(100% - 15px);
}

#anime-page-description-div {
  grid-area: animePageDescription;
  overflow-y: scroll;
}
.anime-page-description {
  /* display: -webkit-box;
  -webkit-line-clamp: 25;
  -webkit-box-orient: vertical;
  overflow-y: scroll; */
  /* text-wrap: wrap; */
  width: calc(100% - 15px);
}

#anime-page-trailer-div {
  grid-area: animePageTrailer;
  /* overflow-y: scroll; */
  justify-self: center;
}

.anime-trailer {
  height: 90%;
  aspect-ratio: 16/9;
}

/* #search-page {
  display: none;
} */

#footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  right: 2.5vw;
  bottom: 10px; /* ! related to container padding */
  width: 95vw;
  height: 8vh; /* ! related to container grid raw */
}

button {
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: x-large;
  border-style: hidden;
  color: var(--main-color-1);
  border-radius: 1rem;

  /* background-color: var(--main-color-4); */
  background: linear-gradient(
    to right,
    var(--main-color-3) 0%,
    var(--main-color-4) 20%,
    var(--main-color-4) 80%,
    var(--main-color-3) 100%
  );
}

button:hover {
  /* background-color: var(--main-color-5); */
  background: linear-gradient(
    to right,
    var(--main-color-3) 0%,
    var(--main-color-5) 20%,
    var(--main-color-5) 80%,
    var(--main-color-3) 100%
  );
}

button:active {
  /* background-color: var(--main-color-3); */
  background: linear-gradient(
    to right,
    var(--main-color-4) 0%,
    var(--main-color-3) 20%,
    var(--main-color-3) 80%,
    var(--main-color-4) 100%
  );
}

#home-button {
  border-radius: 0px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#user-button {
  border-radius: 0px;
}

/* #top-rated-button {
  border-radius: 0px;
} */
#filter-button {
  border-radius: 0px;
}

select {
  width: 100%;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 100%;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}
/* !/////////////// */
/* #filter-button-apply-rating-range {
  width: min-content;
  height: min-content;
} */

#setting-button {
  border-radius: 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#setting-pop-up {
  position: fixed;
  right: 5%;
  bottom: calc(10px + 9vh); /*! related to footer height and container padding */
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 1fr;
  grid-template-areas: "DarkLight DarkLightToggle" "theme0 theme0Toggle" "theme1 theme1Toggle" "theme2 theme2Toggle";

  height: 50vh;
  min-height: 160px;
  width: 50vw;
  max-width: 300px;
  border: 2px var(--main-color-5) solid;
  padding: 2%;
  gap: 2%;
  border-radius: 2rem;
  font-size: large;
  font-weight: bold;
  /* text-align: end; */

  /* background-color: var(--main-color-2); */
  background: radial-gradient(
    var(--main-color-2) 75%,
    var(--main-color-3) 100%
  );
}

.setting-pop-up-des {
  display: flex;
  align-items: center;
  justify-content: end;
}

#setting-pop-up button {
  font-size: large;
}
/* #dark-button {
  grid-area: DarkLightToggle;
}
#light-button {
  grid-area: DarkLightToggle;
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #log-in-sign-up-page {
    display: grid;
    width: 50%;
    grid-template: 1fr 1fr / 1fr;
    gap: 5vw;
    justify-self: center; 
    align-self: flex-start;
    margin-top: 1rem;
    font-weight: bold;
    line-height: 1.1;
  }

  
  #log-in-sign-up-page div{  /* have media query */
  border: 1px var(--main-color-5) solid;
  box-shadow: 0 0 1rem var(--main-color-5);
  padding: 10%;
  border-radius: 2rem;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}