* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { /* ! edit with it (main.js / darkButton.click lightButton.click) */
  --main-color-1: rgb(244, 238, 255);
  --main-color-1-85: rgba(244, 238, 255, 0.85);
  --main-color-2: rgb(220, 214, 247);
  --main-color-3: rgb(166, 177, 225);
  --main-color-4: rgb(66, 72, 116);
  --main-color-5: rgb(37, 41, 66);
}

html {
  margin: 0px;
  height: 100%;
  max-width: 100%;
}

#container {
  height: 100vh;
  /* 
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  */
  display: grid;
  grid-template: 0.35fr 7fr 1fr / 1fr;
  margin: 0px;
  padding: 15px;
  background-color: var(--main-color-1);
  color: var(--main-color-5);
}
#header {
  display: grid;
  grid-template-columns: 5fr 1fr;
  /* align-items: end; */
  position: relative;
}
#main-page {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.anime-div {
  border: 2px var(--main-color-2) solid;
  border-radius: 5%;
  margin: 1%;
  width: 31%;
  display: grid;
  grid-template: repeat(4, 0.5fr) / 1fr 2fr;
  grid-template-areas: "Image Name" "Image Genre" "Image Studio" "Image Type";
  position: relative;
}

.anime-img {
  width: 100%;
  align-self: center;
  grid-area: Image;
  /* padding: 5%; */
  border-radius: inherit;
}

.anime-name {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Name;
  overflow-wrap: break-word;
  color: var(--main-color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: 1rem;
  font-weight: bolder;
}

.anime-genre {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Genre;
  overflow-wrap: break-word;
  font-size: medium;
}

.anime-studio {
  padding-top: 5%;
  padding-left: 5%;
  grid-area: Studio;
  overflow-wrap: break-word;
  color: var(--main-color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: medium;

  font-weight: bold;
}

.anime-type {
  padding-left: 5%;
  padding-block: 5%;
  grid-area: Type;
  overflow-wrap: break-word;
  color: var(--main-color-4);
  font-family: sans-serif, Arial, Helvetica;
  font-size: medium;
  font-weight: bold;
}

.anime-fav {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.anime-rate {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: var(--main-color-4);
  background-color: var(--main-color-1-85);
  padding: 1%;
  border-radius: 25%;
  font-weight: bold;
}

#user-page {
  display: none;
}

#user-image {
  margin: 2%;
  height: 20vh;
  width: 20vh;
}

#user-fav-div {
  margin: 2%;
}

/* li.added-to-fav-1 {
  color: red;
} */

#anime-page {
  display: none;
}

#search-page {
  display: none;
}

#footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* align-items: end; */
}

button {
  width: 100%;
  max-height: 50px;
  height: 100%;
  font-size: large;
  border-style: hidden;
  color: var(--main-color-1);
  background-color: var(--main-color-4);
}

#footer button:hover {
  background-color: var(--main-color-5);
}

#footer button:active {
  background-color: var(--main-color-3);
}

#home-button {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#setting-button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#setting-pop-up {
  position: fixed;
  display: grid;
  grid-template: repeat(4,1fr) / 1fr 1fr;
  grid-template-areas: "DarkLight DarkLightToggle" "theme1 theme1Toggle" "theme2 theme2Toggle" "Sound SoundToggle" ;
  right: 10%;
  bottom: 15%;
  height: 50vh;
  width: 50vw;
  max-width: 300px;
  background-color: var(--main-color-2);
  border: 2px var(--main-color-5) solid;
}

/* #dark-button {
  grid-area: DarkLightToggle;
}
#light-button {
  grid-area: DarkLightToggle;
} */

